{% extends "template.html" %} 

{% block content %}

<section class="content-header">
  <h1> Code Review <small>Administration</small></h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
<div class="row">
<div class="col-md-12">

<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li ><a href="#desc" data-toggle="tab" aria-expanded="false">Description</a></li>
    <li class="active"><a href="#comments" data-toggle="tab" aria-expanded="false">Comments</a></li>
  </ul>
  <div class="tab-content" >
    <div class="tab-pane " id="desc">
      <h2>{{codeToreview.problem.title}}</h2> 
      <p>{{codeToreview.problem.description|safe}}</p>
      <div>
        <button class="btn bg-purple">Strings</button> <button class="btn bg-purple">Arrays</button>
        <button class="btn bg-yellow" id="code_language" value="{{codeToreview.code_lang}}">{{codeToreview.code_lang}}</button>       
      </div>
      <br>
      <div id="editor" class="form-group"> </div>
      <script type="text/javascript">
        $("#editor").text({{codeToreview.code|safe}}); 
      </script>
    </div>

    <div class="tab-pane active" id="comments">
      <div>
        <span class="fa fa-star-o "><i class="bg-red"></i></span>
      </div>
      <div class=" box-body box-comments">
            
        <div class="box-comment">
          <img class="img-circle img-sm" src="/static/dist/img/user5-128x128.jpg" alt="User Image">
          <div class="comment-text">
                <span class="username">
                  Nora Havisham
                  <span class="text-muted pull-right">8:03 PM Today</span>
                </span><!-- /.username -->
            The point of using Lorem Ipsum is that it has a more-or-less
            normal distribution of letters, as opposed to using
            'Content here, content here', making it look like readable English.
          </div>
          
        </div>
       {%for comment in comments %}
       <div class="box-comment">
          <img class="img-circle img-sm" src="/static/dist/img/avatar.png" alt="User Image">
          <div class="comment-text">
                <span class="username">
                  {{comment.author.username}}
                  <span class="text-muted pull-right">{{comment.posted.strftime('%b %d, %Y')}}</span>
                </span><!-- /.username -->
            {{comment.message}}
          </div>          
        </div>
       {% endfor %}
      </div>
      <div class="box-footer">
      <form id="problemForm" action="{{url_for('codeReview', review_id=codeToreview.id)}}" method="POST">
        <img class="img-responsive img-circle img-sm" src="/static/dist/img/avatar.png" alt="Alt Text">
        <div class="img-push ">
          <textarea class="form-control input-sm" name="comments" placeholder="Enter your comment..."></textarea> 
         
        </div>
        <div class="box-footer">       
        <button type="submit" class="btn btn-info pull-right" name="action" value="review_code">Submit for review</button>
        </div>
      </form>
      </div>
    </div>
  </div> <!-- .tab-content -->
</div> <!-- .nav-tabs-custom -->

</div>


</div> <!-- .row -->

</section>
<!-- /.content -->

{% endblock %}