{% extends "base.html" %} 

{% block content %}
<div class="row">
	<div class="col-md-12">
	<div class="content-wrapper">
		<h2>Problems</h2>
		<ul class="list-items">
			{%for problem in problems %}
			<li class="items">
				<div class="container">
					<h4 class="item-title"><a href='{{url_for("displayProblem", pb_id = problem.id)}}'>{{problem.title}}</a></h4>
					<div>{{problem.description|safe}}</div>
				</div>
			</li>
			
			{% endfor %}
		</ul>
	</div>
	</div>
	<a href="{{url_for('addProblem')}}"> Add Problem </a>
</div>
		
{% endblock %}
