{% extends "template.html" %} 
{% block content %}

<section class="content-header">
  <h1> Catalog  <small>all problems</small> </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Problems</li>
  </ol>
</section>

<!-- Main content -->
{%if not code_submitted %}
<section class="box-msg">
  <div class="row">
    <div class="col-md-9 col-md-offset-1 ">
      <div class="callout callout-info">Get a free coding review NOW. Click <a href="" data-toggle="modal" data-target="#myPromotion"><strong>here</strong></a></div>
    </div>
    </div>
</section> 
{% endif %}

<section class="content">
  <div class="row">
  {%for problem in problems %}
	<div class="col-md-4 col-sm-6">
		<div class="box box-solid">
			<div class="box-header"><a href='{{url_for("displayProblem", pb_id = problem.id)}}'>{{problem.title}}</a></div>
			<div class="box-body">
			<div><span class="label label-info">{{problem.category.name}}</span></div>
			</div>
		</div> <!-- .box box-solid -->
	</div>
	
  {% endfor %}
  </div>
  
  <div class="row">
	  <ul class="pagination pagination-sm no-margin pull-right">
	  {% if pagination.has_prev %}
	    <li><a href="/problems/page/{{pagination.page-1}}">&laquo;</a></li>
	  {% endif %}	  
	  {% for page in range(1,pagination.pages+1) %}
	    {% if page %}
	      {% if page != pagination.page %}
	        <li><a href="/problems/page/{{page}}">{{ page }}</a></li>
	      {% else %}
	        <li><a class="bg-blue" ><strong>{{ page }}</strong></a></li>
	      {% endif %}
	    {% else %}
	      <span class="ellipsis">…</span>
	    {% endif %}
	  {% endfor %}
	  {% if pagination.has_next %}
	    <li><a href="/problems/page/{{pagination.page+1}}">&raquo;</a></li>
	  {% endif %}
	  </ul>           
  </div>
 
  {% if problems|length() == 0 %}
  <p> No problems found</p>
  {% endif %}
</section>

<div class="modal fade" tabindex="-1" role="dialog" id="myPromotion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-maroon color-palette">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">I want my free coding review</h4>
      </div>
      <div class="modal-body">
        <p>Solve this challenge to gain your free review</p>
        <label>{{random_problem.title}}</label>
        <p>{{random_problem.description}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="{{url_for('displayProblem', pb_id=random_problem.id)}}" class="btn bg-maroon">Yes I accept the challenge</a>
      </div>
    </div>
  </div>
</div><!-- /.modal -->
<!-- /.content -->

{% endblock %}